body {
background-color: rgb(245, 245, 5)
font-family: 'Roboto', sans-serif;
font-family: 'Tilt Prism', sans-serif;
}

.weather-app{
    background: white;
    max-width: 600px;
    margin:45px;
    padding:30px;
    box-shadow: 0 30px  50px rgba(red, green, blue, alpha);
    border-radius: 16px;
}
